GetREST_data/GetREST_data/Service References/FootballService/FootballService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:31909/FootballService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ModelLibrary.Entities" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsData">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTeamsDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ModelLibrary.Entities" minOccurs="0" name="GetAllTeamsDataResult" nillable="true" type="q1:ArrayOfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ModelLibrary.Entities" minOccurs="0" name="team" nillable="true" type="q2:Team" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ModelLibrary.Entities" minOccurs="0" name="teams" nillable="true" type="q3:ArrayOfTeam" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddTeamRangeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>