WCF_req_resp/WCF_req_resp/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServiceLayer.Messaging.GradoviService.Get" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServiceLayer.Messaging.GradoviService.Get" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:2960/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer.Models.AdvModel" />
  <xs:complexType name="GetGradoviRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="DrzavaId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGradoviRequest" nillable="true" type="tns:GetGradoviRequest" />
  <xs:complexType name="GetGradoviResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ServiceLayer.Models.AdvModel" name="_x003C_Gradovi_x003E_k__BackingField" nillable="true" type="q1:ArrayOfGrad" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetGradoviResponse" nillable="true" type="tns:GetGradoviResponse" />
</xs:schema>